main > div {
  display: grid;
  height: 100vh;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  background-image: url('topography.png');
}

h1 {
  padding:0;
  margin: 0;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  line-height: 1.0rem;
  font-size: 50vw;
  color: rgba(0,0,0,0.5);
  transform: rotate(0);
  filter: invert(55%) blur(5px);
}

nav {
  width: 70vw;
  align-self: flex-end;
  justify-self: center;
  justify-content: space-evenly;
  margin-bottom: 5vh;
  transform: rotate(0);
}

a {
  display: inline-block;
  font-variant: small-caps;
  text-transform: uppercase;
  line-height: 1.0rem;
  font-size: 1.0rem;
  margin: 0.4rem 0.5rem;
  text-decoration: none;
  transition: 0.15s transform linear, 0.15s text-shadow linear;
  color: #888;
}

@media (min-width: 600px) {
  h1 {
    filter: invert(25%) blur(5px);
  }
  nav { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  a {
    line-height: 1.2rem;
    font-size: 1.2rem;
  }
}

a:hover {
  color: #f00;
  transform: scale(1.1);
  z-index: 99;
}