.App {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.Menu {
  width: 80vw;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

span, a {
  font-size: 5.0em;
  line-height: 1.0em;
  font-weight: 700;
  margin-right: 0.8em;
  text-decoration: none;
}

a:nth-of-type(1) { color: #f6511d; }
a:nth-of-type(2) { color: #ffe100; }
a:nth-of-type(3) { color: #00a6ed; }
a:nth-of-type(4) { color: #7fb800; }
a:nth-of-type(5) { color: #430c54; }
a:nth-of-type(6) { color: #f6511d; }
a:nth-of-type(7) { color: #ffe100; }
a:nth-of-type(8) { color: #00a6ed; }
a:nth-of-type(9) { color: #7fb800; }
a:nth-of-type(10) { color: #430c54; }
