body {
  overflow-x: hidden;
  background-color: #000000;
}

main {
	position: absolute;
	top: -15vw;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: calc(100vh + 30vw);
	margin: 0 -7.5vw -50vw -7.5vw;
	display: grid;
	grid-auto-rows: 30vw;
	grid-template-columns: 15vw repeat(3, 30vw) 15vw;
	grid-gap: 5px;
	transform: rotate(-2deg);
	transform-origin: right top;
}

main > div {
  background-color: #FF4081;
}

article {
  display: grid;
  color: #000000;
  transition: background-color 0.25s ease, color 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}

div.title {
  display: grid;
  grid-column: 2 / 5;
  background-color: #ffffff;
  font-family: 'Heebo';
  font-weight: 900;
  font-size: 6.0rem;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  justify-content: flex-end;
}

h1 {
  margin: 0 -1.0rem -6.0rem 0;
  padding: 0;
}

article > header {
  font-family: 'Heebo';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 3.5rem;
  vertical-align: baseline;
  transform: rotate(-90deg) translateY(-2.75rem);
  transform-origin: right top;
}

article > div {
  align-self: flex-end;
}

p {
  margin: 0 4.0rem 0 0;
  padding: 30px;
  transition: all 0.2s ease;
  color: #000000;
}
/* 
.blog {
  background-image: url('./assets/blog.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
} */


@media screen and (max-width: 600px) {
  main {
    top: -25vw;
    max-height: calc(100vh + 50vw);
    margin: 0 -7.5vw -50vw -7.5vw;
    grid-auto-rows: 50vw;
    grid-template-columns: 15vw repeat(2, 50vw) 15vw;
  }
}

article.color1  { background: linear-gradient(rgb(53,97,143), #fff); }
article.color2  { background: linear-gradient(rgb(127,255,78), #fff); }
article.color3  { background: linear-gradient(rgb(205,113,181), #fff); }
article.color4  { background: linear-gradient(rgb(191,242,127), #fff); }
article.color5  { background: linear-gradient(rgb(138,27,7), #fff); }
article.color6  { background: linear-gradient(rgb(20,186,225), #fff); }
article.color7  { background: linear-gradient(rgb(150,29,107), #fff); }
article.color8  { background: linear-gradient(rgb(21,183,30), #fff); }
article.color9  { background: linear-gradient(rgb(239,76,208), #fff); }
article.color10 { background: linear-gradient(rgb(86,160,108), #fff); }
article.color11 { background: linear-gradient(rgb(240,67,67), #fff); }
article.color12 { background: linear-gradient(rgb(60,253,215), #fff); }
article.color13 { background: linear-gradient(rgb(207,123,93), #fff); }
article.color14 { background: linear-gradient(rgb(84,37,223), #fff); }
article.color15 { background: linear-gradient(rgb(127,172,12), #fff); }
article.color16 { background: linear-gradient(rgb(89,105,240), #fff); }
article.color17 { background: linear-gradient(rgb(246,209,95), #fff); }
article.color18 { background: linear-gradient(rgb(208,210,240), #fff); }
article.color19 { background: linear-gradient(rgb(32,80,46), #fff); }
article.color20 { background: linear-gradient(rgb(247,147,2), #fff); }
